.product{
    display: flex;
    margin-bottom:5px;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.add-to-cart-btn{
width: 150px;
height:30px;
border-radius: 5px;
border:1px solid lightgray;
background-color: goldenrod;
cursor: pointer;

}